In [2]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes':[50,12],'No':[121,131]})

   Yes   No
0   50  121
1   12  131

In [4]:
pd.DataFrame({'Bob':['I like it','It was good'],'Sue':['Preety Good','Bland']})

           Bob          Sue
0    I like it  Preety Good
1  It was good        Bland

In [6]:
pd.DataFrame(
    {'Bob':['i like it ','it was too good to be true'],'Sue':['I was there','and you where not']},index=['Product A','Product B']
)

                                  Bob                Sue
Product A                  i like it         I was there
Product B  it was too good to be true  and you where not

In [ ]:
pd.Series([1,2,3,4,5,6,7])